# =========================
# Build results
# =========================

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# =========================
# vscode config
# =========================

.vscode/

# =========================
# app outputs
# =========================

*.csv
*.xml
